@use "sass:color";

.navbar {
    text-align: center;
    letter-spacing: -.1em;
    top: 0;
    width: 100%;
    background-color: color.adjust($body-primary, $alpha: -.2);
    padding: {
        top: 1em;
        bottom: 1em;
    }

    @include media($desktop) {
        text-align: right;
        position: relative;
        right: 2em;
        margin-right: 2em;
    }

    a {
        font-size: 1.25em;
        vertical-align: center;
        padding: .35em;
        text-decoration: none;
        color: $text-primary;

        &.logo {
            font-family: 'Gochi Hand', cursive;
            font-size: 2em;

            @include media($desktop) {
                font-size: 3em;
            }
        }

        @include media($desktop) {
            font-size: 2em;
        }
    }
}