.navbar {
    text-align: center;
    letter-spacing: -.1em;

    a {
        font-size: 1em;
        vertical-align: center;
        margin-right: .75em;
        text-decoration: none;;

        &.logo {
            font-family: 'Gochi Hand', cursive;
            font-size: 2em;
        }
    }
}