.socials {
    display: flex;
    justify-content: center;
    padding: {
        top: 1.25em;
        bottom: 1.25em;
    }

    animation: {
        name: fadein;
        duration: .75s;
        animation-timing-function: ease-out;
        fill-mode: both;
        delay: 2s;
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }
    }

    @include media($desktop) {
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    a {
        margin: {
            right: 1.25em;
        }

        @include media($desktop) {
            margin: 1.5em
        }
    }

    path {
        fill: $text-primary;
    }

    svg {
        height: 1.25em;

        @include media($xs-mobile, max-width) {
            height: 1.15em;
        }

        @include media($xl-desktop, $height: $xl-desktop-height) {
            height: auto;
            width: 2em;
        }
    }
}