// Breakpoints
@mixin media ($width, $min-max-width: min-width, $height: 0) {
    @media only screen and ($min-max-width: $width) and (min-height: $height) {
        @content
    }
}
$xs-mobile: 320px;
$tablet: 768px;
$laptop: 996px;
$desktop: 1200px;
$xl-desktop: 1440px;

$xl-desktop-height: 996px;

// Main page colors
$body-primary: #FFF;
$body-secondary: #E0DDAA;
$text-primary: #0353a4;
$text-secondary: #203239;